body {
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'PT Serif', serif;
}
/**header-area start**/
header {
    background-image: url(images/donation7.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width:100%;
    height: auto;
    text-align: center;
    color:#fff;
    overflow:hidden;
    padding: 100px 0px;
}
header h1 {
    font-size: 48px;
}
header p {
    margin-bottom: 50px;
}
.link-button {
  background-color: #ff4d4d;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  color: #fff;  
} 
/**header-area End**/

/**donate-area start**/
.donate-area {
    text-align: center;
    margin: 50px 0px;
}
.donate-top h2 {
    font-size:30px;
}
.donate-center ul {
    
}
.donate-center ul li {
    list-style: none;
    display: inline-block;
    padding: 25px;
}
.donate-center a {
    text-decoration: none;
    font-size: 30px;
    color: #000;
}
.donate-center a:hover {
    border: 1px solid #ff4d4d;
    color:#ff4d4d;
    padding: 20px 15px;
    background-color: #fcc;
}
.active {
    border: 1px solid #ff4d4d;
    color:#ff4d4d !important;
    padding: 20px 15px;
    background-color: #fcc;
}
.donate-bottom {
    display: block;
    overflow: hidden;
}
.donate-bottom input {
    display: block;
    margin:auto;
    padding: 5px;
    border: none;
    border-bottom: 1px solid #ddd;
    text-align: center;
}
.donate-button {
    margin-top:20px;
}
.donate-button a {
  background-color: #ff4d4d;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  color: #fff;  
  display:inline-block;
}

/**donate-area end**/

/**donate-plan-area start**/
.donate-plan {
    overflow: hidden;
}
.donate-plan h2 {
    text-align: center;
    font-size: 30px;
}
.donate-plan p {
    text-align: center;
    margin-bottom: 50px;
}
.same {
    display:inline-block;
    float: left;
    overflow: hidden;
    width:33.33%;
    text-align: left;
}
.same-left {
    background-color: rgb(203, 228, 220);
    padding: 15px;
    margin: 15px;
    text-align: left;
}
.same-middle {
    background-color: rgb(237, 203, 203);
    padding: 15px;
    margin: 15px;
    text-align: left;
}
.same-right {
    background-color: #f8afaf;
    padding: 15px;
    margin: 15px;
    text-align: left;
}
/**donate-plan-area end**/

/**Contact area start**/
.contact {
    text-align: center;
}
.contact h3 {
    font-size: 30px;
}
.contact-bottom {
    width: 50%;
    background-color: #ecc0c0;
    display: block;
    margin: auto;
    padding: 50px 0px;
}
.contact-bottom input {
    background-color: #D9D9D9;
    padding: 10px;
    border-radius: 2px;
    border:none;
}
.contact-bottom a {
    background-color: #ff4d4d;
    text-decoration: none;
    padding: 5px;
    border-radius: 2px;
    color: #fff;  
    display:inline-block;
    font-size: 12px;
    margin-top: 10px;
  }
/**contact area end**/

/**footer area start**/
footer {
    text-align: center;
    background-color: #0B0D17;
    margin: 50px 0px;
    padding: 30px 0px;  
}
footer h3 {
    color:#FF5959;
    font-style: italic;
    font-size: 30px;
}
footer p {
    color:#fff;
}
/**footer area end**/
